.page-favorites {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.favorite-container {
  width: 80vw;
}

.title {
  align-items: center;
  background: linear-gradient(123.66deg, #003be5 12.08%, #00d5e2 86.52%);
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 24px;
  height: 20vh;
  justify-content: center;
  width: 80vw;
}

.favorite-musics {
  align-items: center;
  background-color: #e6e8ea;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 80vh;
}

.music2 {
  align-items: center;
  border-bottom: 2px solid #ccd4e1;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  width: 70%;
}
